body {
  background-color: rgb(193, 208, 231);
}

h1, h2 {
  margin: 20px;
  font-size: 2em;
  font-weight: bold;
  font-style: oblique;
}

p {
  font-style: oblique;
  padding: 15px;
  font-size: 1.7em;
  font-stretch: wider;
  line-height: 2em;

}
 ol {
   list-style-type: decimal;
   list-style-position: inside;
   font-style: oblique;
   font-size: 2em;

 }